[tool.poetry]
name = "mex-model"
version = "2.2.0"
description = "Conceptual and machine-readable versions of the MEx metadata model."
authors = ["RKI MEx Team <mex@rki.de>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/robert-koch-institut/mex-model"
packages = [{ include = "mex" }]

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
myst-parser = "^2.0.0"
sphinx = "^7.2.6"

[tool.cruft]
template = "https://github.com/robert-koch-institut/mex-template"

[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"
